In [16]:
#import modules
import os
import glob
import pandas as pd

path = "CSV Data files/00_All CSV/20-21"

#list all csv files only
csv_files = glob.glob(path + "/*.csv")

In [ ]:
for CSV_File in csv_files: 
    
    # Dynamically create dataframes for each sheet in the excel file.
    vars()[CSV_File] = pd.DataFrame()

    # Read the excel sheet into a Pandas dataframe
    vars()[CSV_File] = pd.read_csv(CSV_File)
    display(vars()[CSV_File].head(2))

In [17]:
df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=False)
df_concat.info()

/var/folders/nh/nz96wxp56dgd98sxn_cw2l700000gn/T/ipykernel_71837/3941394661.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=False)
/var/folders/nh/nz96wxp56dgd98sxn_cw2l700000gn/T/ipykernel_71837/3941394661.py:1: DtypeWarning: Columns (1,2,3,4,5,7,13,15,16,18,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_concat = pd.concat([pd.read_csv(f) for f in csv_files ], ignore_index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4966795 entries, 0 to 2216913
Data columns (total 23 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   ride_id               object
 2   rideable_type         object
 3   started_at            object
 4   ended_at              object
 5   start_station_name    object
 6   start_station_id      object
 7   end_station_name      object
 8   end_station_id        object
 9   start_lat             float64
 10  start_lng             float64
 11  end_lat               float64
 12  end_lng               float64
 13  member_casual         object
 14  Duration              float64
 15  Start date            object
 16  End date              object
 17  Start station number  float64
 18  Start station         object
 19  End station number    float64
 20  End station           object
 21  Bike number           object
 22  Member type           object
dtypes: float64(7), int64(1), object(15)
memory usage: 909.4+ MB

In [18]:
df_concat.drop("Unnamed: 0", axis = 1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,EF1237396C1D2DF4,electric_bike,2021-11-15 09:40:42,2021-11-15 09:48:22,Rhode Island & Connecticut Ave NW,31239.0,Potomac & M St NW,31295.0,38.905874,-77.039957,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4CA89455176FD912,classic_bike,2021-11-23 16:57:30,2021-11-23 17:02:04,Rhode Island & Connecticut Ave NW,31239.0,18th & R St NW,31278.0,38.905996,-77.039802,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3E632C5C54A1485C,classic_bike,2021-11-29 09:27:35,2021-11-29 09:51:22,12th & Irving St NE,31511.0,Eastern Market Metro / Pennsylvania Ave & 8th ...,31613.0,38.928644,-76.990955,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9ED25F0388AC6226,classic_bike,2021-11-09 17:47:01,2021-11-09 17:51:15,7th St & Massachusetts Ave NE,31647.0,Columbus Circle / Union Station,31623.0,38.892220,-76.996020,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3BF46E8C8FB64B36,classic_bike,2021-11-04 16:17:13,2021-11-04 16:21:01,7th St & Massachusetts Ave NE,31647.0,Columbus Circle / Union Station,31623.0,38.892220,-76.996020,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216909,CD87E5A1A92EEEA5,docked_bike,2020-07-30 13:22:33,2020-07-30 13:26:04,7th & R St NW / Shaw Library,31245.0,11th & M St NW,31266.0,38.912719,-77.022155,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216910,5CC1323E63436169,docked_bike,2020-07-13 15:04:39,2020-07-13 15:21:04,3rd & H St NE,31616.0,11th & M St NW,31266.0,38.900412,-77.001949,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216911,4399B2F5C1F60345,docked_bike,2020-07-25 19:12:28,2020-07-25 19:21:19,3rd & H St NE,31616.0,11th & M St NW,31266.0,38.900412,-77.001949,...,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216912,BD2AA5E53A421B93,docked_bike,2020-07-26 20:12:36,2020-07-26 20:25:32,1st & M St NE,31603.0,11th & M St NW,31266.0,38.905700,-77.005600,...,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216913,C4CC80BCC5AAE9E6,docked_bike,2020-07-31 17:42:00,2020-07-31 17:51:26,1st & M St NE,31603.0,11th & M St NW,31266.0,38.905697,-77.005483,...,member,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_concat.to_csv('CSV Data files/2020-2021_CBS.csv')

In [ ]:
df_concat.head()